In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
from gspread_dataframe import get_as_dataframe, set_with_dataframe
from google.colab import auth
auth.authenticate_user()
import gspread
from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
def load_sheet_by_url(url, sheet = None):
  if sheet != None:
    data = gc.open_by_url(url).worksheet(sheet)
  else:
    data = gc.open_by_url(url).sheet1
  data = data.get_all_values() # get all values gives a list of rows
  data = pd.DataFrame.from_records(data) # convert to a DataFrame
  data = data.rename(columns=data.iloc[0]).drop(data.index[0]) # set column headers and drop the index
  return data

In [ ]:
def save_sheet(name, data, sheet = None):
  if sheet != None:
    ws = gc.open(name).worksheet(sheet)
  else:
    ws = gc.open(name).sheet1
  set_with_dataframe(ws, data)

In [ ]:
!pip install tabula-py

Collecting tabula-py
  Downloading https://files.pythonhosted.org/packages/cf/29/d6cb0d77ef46d84d35cffa09cf42c73b373aea664d28604eab6818f8a47c/tabula_py-2.2.0-py3-none-any.whl (11.7MB)
     |████████████████████████████████| 11.7MB 10.2MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from tabula-py) (1.19.5)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.6/dist-packages (from tabula-py) (1.1.5)
Collecting distro
  Downloading https://files.pythonhosted.org/packages/25/b7/b3c4270a11414cb22c6352ebc7a83aaa3712043be29daa05018fd5a5c956/distro-1.5.0-py2.py3-none-any.whl
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.3->tabula-py) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.5.0 tabula-py-2.2.0

In [ ]:
import tabula

In [ ]:
reports = load_sheet_by_url("https://docs.google.com/spreadsheets/d/1CB-nZ8QWcIZddDDaqP4TXmw5RiMiZyZQ08gQxVDVqbY/edit#gid=0", "feb 2")
reports.head()

                         path                name
1              Adaire ABR.pdf              Adaire
2        Allen, Ethan ABR.pdf        Allen, Ethan
3        Allen, Ethel ABR.pdf        Allen, Ethel
4  Amy @ James Martin ABR.pdf  Amy @ James Martin
5            Anderson ABR.pdf            Anderson

In [ ]:
path_base = "/content/drive/Shareddrives/Data and Visuals Shared/Data Analysis/Bureaus/Philadelphia/Ventilation Reports/Reports Feb 2/"

In [ ]:
loop = reports.iloc[0:3,0]

In [ ]:
errors = []

In [ ]:
top = 121.43
left = 72.84
height = 612.8
width = 466.02
bottom = height + top
right = width + left
table_area = [top, left, bottom, right]

In [ ]:
ventilationA = pd.DataFrame()
ventilationB = pd.DataFrame()
ventilationC = pd.DataFrame()
ventilationD = pd.DataFrame()

for report in reports.itertuples():
    path = path_base + report.path

    tables = tabula.read_pdf(path, pages = "all", multiple_tables = False, lattice=True, area=table_area)
    table = tables[0]
    table["school"] = report.name
    print(report.name, len(table.columns))

    if  len(table.columns) == 10:
      table.columns = ["Classroom ID/Area ID Number","Classroom/Area Type supplied","Actual Outside Air CFM (OA)","Occupancy (OA CFM/15)","Window Fan Count","Window Fan Occupancy","Square Footage","Occupancy (SqFt/44)","Max Occupancy per Room","school"]
      ventilationA = pd.concat([ventilationA,table], ignore_index=True)
    elif  len(table.columns) == 9:
      table.columns = ["SDP Building Name","Classroom ID/Area ID Number","Classroom/Area Type supplied","Actual Outside Air CFM (OA)","Occupancy (OA CFM/15)","Classroom Square Footage","Occupancy (SqFt/44)","Max Occupancy per Room","school"]
      ventilationB = pd.concat([ventilationB,table], ignore_index=True)
    elif  len(table.columns) == 8:
      table.columns = ["Classroom ID/Area ID Number","Classroom/Area Type supplied","Actual Outside Air CFM (OA)","Occupancy (OA CFM/15)","Classroom Square Footage","Occupancy (SqFt/44)","Max Occupancy per Room","school"]
      ventilationC = pd.concat([ventilationC,table], ignore_index=True)
    else:
      table.columns = ["Classroom ID/Area ID Number","Classroom/Area Type supplied","Actual Outside Air CFM (OA)","Occupancy (OA CFM/15)","Classroom Square Footage","Occupancy (SqFt/44)","school"]
      ventilationD = pd.concat([ventilationD,table], ignore_index=True)

Adaire 8
Allen, Ethan 8
Allen, Ethel 8
Amy @ James Martin 8
Anderson 8
Arthur 8
Bache-Martin 8
Baldi 8
Barry 8
Bartram 8
Bethune 8
Blaine 8
Blankenburg 8
Bodine 8
Bregy 8
Bridesburg 10
Brown, HA 8
Brown, JH 8
Bryant 10
CAPA High 8
Carnell 8
Carver 8
Cassidy 8
Catharine 8
Central 8
Clemente 8
Cleveland 8
Comegys 8
Cook-Wissahickon 8
Cooke 8
Cramp 8
Crossan 8
Day 8
DeBurgos 8
Dick 8
Dobbins 8
Dobson 8
Duckrey 8
Dunbar 8
Edison 8
Edmonds, FS 8
Elverson 8
Emlen 8
Farrell 8
Fell 8
Feltonville A_S 8
Feltonville Intermediate 8
Finletter 8
Fitler 8
Fitzpatrick 8
Fox Chase _ Farm 8
Frank 8
Frankford 10
Franklin HS 8
Franklin Learning Center 8
Furness 8
GAMP 8
Gideon 10
Girard 8
Gompers 8
Greenberg 8
Greenfield 8
Hackett 8
Hamilton 8
Hancock 8
Harrington 8
Hartranft 8
Haverford Child Center 8
Heston 8
Hill-Freedman @ Leeds 8
Hopkinson 8
Howe 8
Hunter 8
Jackson 8
Jenks, AS 8
Jenks, J.S. 8
Juniata Park Academy 8
Kearny 8
Kelley, WD 8
Kelly, JB 8
Kenderton 8
Kensington CAPA 8
La Brum (Hancock) 8
Lamberton 8
Lawton 8
Lea 8
Locke 8
Loesche 8
Longstreth 8
Lowell 8
Marshall, J 8
Marshall, T 8
Mastbaum 9
Masterman 10
Mayfair 8
McCall 8
McCloskey 8
McClure 8
McDaniel 8
McKinley 8
McMichael 8
Meade 8
Meehan 8
Meredith 10
Mifflin 8
Miller 8
Mitchell 8
MLK HS 8
Moffet 8
Moore 8
Morris 8
Morrison 10
Morton 8
Motivation @ Turner 8
Munoz-Marin 8
Nebinger 8
Northeast HS 8
Olney ES 8
One Bright Ray 8
Overbrook Ed. Center 10
Overbrook Elementary 7
Overbrook High 8
Palumbo 8
Parkway NW @ Hill-Freedman 8
Patterson 10
PLA North _ CEP 8
Potter-Thomas 8
Powel 8
Pratt 8
Prince Hall 8
Randolph 8
Rhoads, J 8
Rhodes, EW 8
Rivera 8
Robeson 8
Rowen 8
Rush 8
Saul 8
Sayre 8
Sharswood 8
Shawmont 8
Sheppard 8
Sheridan 8
Solis-Cohen 10
South Phila HS 8
Southwark 8
Spruance 8
Stanton, EM 8
Stearne 8
Steel 8
Strawberry Mansion 8
Swenson 8
Taylor 10
TB Read 8
Trinidad 8
U School at Ferguson 8
Vare-Washington 8
Wagner 8
Waring 8
Washington, Grover 8
Washington, Martha 8
Webster 8
Welsh 8
West Phila HS 8
Willard 8
Wilson 8
Workshop School 8
Wright 8
Ziegler 8

In [ ]:
ventilationA

    Classroom ID/Area ID Number  ...      school
0                 Main Building  ...  Bridesburg
1                           102  ...  Bridesburg
2                           103  ...  Bridesburg
3                           104  ...  Bridesburg
4                           105  ...  Bridesburg
..                          ...  ...         ...
629                         331  ...      Taylor
630                         332  ...      Taylor
631                         333  ...      Taylor
632                         334  ...      Taylor
633                         NaN  ...      Taylor

[634 rows x 10 columns]

In [ ]:
ventilationB

   SDP Building Name  ...    school
0           Building  ...  Mastbaum
1           Building  ...  Mastbaum
2           Building  ...  Mastbaum
3           Building  ...  Mastbaum
4           Building  ...  Mastbaum
..               ...  ...       ...
81          Building  ...  Mastbaum
82          Building  ...  Mastbaum
83          Building  ...  Mastbaum
84          Building  ...  Mastbaum
85          Building  ...  Mastbaum

[86 rows x 9 columns]

In [ ]:
save_sheet("report_details_feb_2",ventilationA,"ventA")

In [ ]:
save_sheet("report_details_feb_2",ventilationB,"ventB")

In [ ]:
save_sheet("report_details_feb_2",ventilationC,"ventC")

In [ ]:
save_sheet("report_details_feb_2",ventilationD,"ventD")